{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      }
    }]
  ],
  "plugins": [
    "syntax-flow",
    "syntax-dynamic-import",
    "transform-flow-strip-types",
    "transform-async-to-generator",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "sourceMaps": true
    },
    "test": {
      "sourceMaps": "both",
      "plugins": ["istanbul"]
    }
  }
}
